<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input
            type="radio"
            name="payment[method]"
            class="radio"
            data-bind="
                attr: {'id': getCode()},
                value: getCode(),
                checked: isChecked,
                click: selectPaymentMethod,
                visible: isRadioButtonVisible()
            "
        />
        <label
            data-bind="attr: {'for': getCode()}"
            class="label"
        >
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content svea-paymentplan">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="campaigns">

            <div class="list">
                <!-- ko foreach: campaigns() -->
                <label class="campaign">
                    <div class="campaign-select">
                        <input type="radio" data-bind="checkedValue: campaignCode, checked: $parent.selectedCampaignCode">
                    </div>

                    <div class="campaign-info">
                        <div>
                            <span class="description" data-bind="text: description"></span>
                        </div>
                        <div>
                            <span data-bind="i18n: 'initial_fee'"></span>:
                            <span data-bind="text: $parent.formatPrice(initialFee)"></span>.

                            <span data-bind="i18n: 'Your monthly cost'"></span>:
                            <span data-bind="text: $parent.getPricePerMonthForCampaign(campaignCode)"></span>.
                        </div>
                    </div>

                </label>
                <!--/ko-->
            </div>
        </div>

        <!-- SVEA ADDRESS -->
        <div class="svea-address-wrapper">
            <div class="svea-get-address">
                <label>
                    <span data-bind="i18n: 'text_ssn'"></span>:
                    <input type="text" name="svea-ssn" data-bind="value: ssn">
                </label>

                <!-- ko if: shouldReplaceAddress() -->
                    <button class="get-address"
                            data-bind="
                        click: getAddress
                        attr: {title: $t('get_address')}
                        ">
                        <span data-bind="i18n: 'get_address'"></span>
                    </button>
                <!-- /ko -->

                <span data-bind="i18n: 'The invoice and items will be sent to the address registered to your social security number'"></span>
            </div>

            <div class="svea-address">
                <!-- ko if: shouldReplaceAddress() -->

                    <!-- ko if: hasSingleAddress() -->
                        <address data-bind="with: selectedAddress">
                            <span data-bind="text: fullname"></span>
                            <span data-bind="text: coAddress"></span>
                            <span data-bind="text: street"></span>
                            <span data-bind="text: postcode"></span>
                            <span data-bind="text: city"></span>
                        </address>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- // SVEAADDRESS -->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button
                    class="action primary checkout"
                    type="submit"
                    data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                    "
                    disabled
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>

