<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section id="tax" translate="label" type="text">
            <group id="classes">
                <field id="handling_fee_tax_class" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Tax Class for Payment handling fee</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
                </field>
            </group>

            <group id="cart_display">
                <field id="payment_handling_fee" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Payment Handling Fee</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
            </group>
        </section>

        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <!-- General Hosted settings -->
            <group id="svea_hosted" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Hosted Api Settings</label>
                <attribute type="displayIn">recommended_solutions</attribute>

                <field id="merchant_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Id</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret</label>
                </field>

                <field id="test_mode" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="svea_include_options_on_order_rows" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include options on order rows (Size / Color etc.)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- Invoice settings -->
            <group id="svea_invoice" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Invoice</label>
                <attribute type="displayIn">recommended_solutions</attribute>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="test_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="payment_handling_fee" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Handling Fee</label>
                    <comment>Excl. tax</comment>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Webbhuset\SveaWebpay\Model\Config\Source\Invoice\PaymentAction</source_model>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>

                <field id="distribution_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice Distribution Type</label>
                    <source_model>Webbhuset\SveaWebpay\Model\Config\Source\DistributionType</source_model>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>

                <field id="username_se" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Sweden</label>
                </field>
                <field id="password_se" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Sweden</label>
                </field>
                <field id="client_number_se" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Sweden</label>
                </field>

                <field id="username_fi" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Finland</label>
                </field>
                <field id="password_fi" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Finland</label>
                </field>
                <field id="client_number_fi" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Finland</label>
                </field>

                <field id="username_no" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Norway</label>
                </field>
                <field id="password_no" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Norway</label>
                </field>
                <field id="client_number_no" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Norway</label>
                </field>

                <field id="username_dk" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Denmark</label>
                </field>
                <field id="password_dk" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Denmark</label>
                </field>
                <field id="client_number_dk" translate="label" type="text" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Denmark</label>
                </field>

                <field id="username_de" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Germany</label>
                </field>
                <field id="password_de" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Germany</label>
                </field>
                <field id="client_number_de" translate="label" type="text" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Germany</label>
                </field>

                <field id="username_nl" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Netherlands</label>
                </field>
                <field id="password_nl" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Netherlands</label>
                </field>
                <field id="client_number_nl" translate="label" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Netherlands</label>
                </field>
            </group>

            <!-- Paymentplan settings -->
            <group id="svea_paymentplan" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Paymentplan</label>
                <attribute type="displayIn">recommended_solutions</attribute>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="test_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="campaigns" translate="label" type="hidden" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Campaigns</label>
                    <frontend_model>Webbhuset\SveaWebpay\Block\Adminhtml\System\Config\UpdateCampaigns</frontend_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Webbhuset\SveaWebpay\Model\Config\Source\PaymentPlan\PaymentAction</source_model>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>

                <field id="username_se" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Sweden</label>
                </field>
                <field id="password_se" translate="label" type="text" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Sweden</label>
                </field>
                <field id="client_number_se" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Sweden</label>
                </field>

                <field id="username_fi" translate="label" type="text" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Finland</label>
                </field>
                <field id="password_fi" translate="label" type="text" sortOrder="204" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Finland</label>
                </field>
                <field id="client_number_fi" translate="label" type="text" sortOrder="205" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Finland</label>
                </field>

                <field id="username_no" translate="label" type="text" sortOrder="206" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Norway</label>
                </field>
                <field id="password_no" translate="label" type="text" sortOrder="207" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Norway</label>
                </field>
                <field id="client_number_no" translate="label" type="text" sortOrder="208" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Norway</label>
                </field>

                <field id="username_dk" translate="label" type="text" sortOrder="209" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Denmark</label>
                </field>
                <field id="password_dk" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Denmark</label>
                </field>
                <field id="client_number_dk" translate="label" type="text" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Denmark</label>
                </field>

                <field id="username_de" translate="label" type="text" sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Germany</label>
                </field>
                <field id="password_de" translate="label" type="text" sortOrder="213" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Germany</label>
                </field>
                <field id="client_number_de" translate="label" type="text" sortOrder="214" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Germany</label>
                </field>

                <field id="username_nl" translate="label" type="text" sortOrder="215" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username Netherlands</label>
                </field>
                <field id="password_nl" translate="label" type="text" sortOrder="216" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password Netherlands</label>
                </field>
                <field id="client_number_nl" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Number Netherlands</label>
                </field>
            </group>

            <!-- Card settings -->
            <group id="svea_card" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Card Payment</label>
                <attribute type="displayIn">recommended_solutions</attribute>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="order_confirmation_capture" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Capture card order on confirmation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>

                <field id="icons" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icons</label>
                    <source_model>Webbhuset\SveaWebpay\Model\Config\Source\Card\Icon</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>

                <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
            </group>

            <!-- Direct Bank settings -->
            <group id="svea_direct_bank" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Direct Bank</label>
                <attribute type="displayIn">recommended_solutions</attribute>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
            </group>
        </section>
    </system>
</config>
